@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');


* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

section {
	max-width: 90vw;
	margin: 4vw auto;

}

.subheading {
	width: 30vw;
	font-family: sans-serif;
	font-size: 4vw;
	text-align: center;
	color: #004aad;
	margin: 0vw auto 5vw auto;
	border: 2px solid #004aad;
	border-radius: 5px;
}

hr {
	margin: auto;
	width: 60%;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 90vw;
	margin: 3vw auto;
}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-container img {
	width: 10vw;
}

.logo-container h1 {
	font-size: 4.5vw;
	margin: 0vw 1vw;
	color: #004aad;
	font-family: 'Righteous', cursive;
}

.nav-links a {
	width: 5vw;
	height: 5vw;
	text-align: center;
	display: inline-block;
	font-size: 2.5vw;
	margin: 0vw 1vw;
	padding: 1vw;
	text-decoration: none;
	border-radius: 50%;
}

#blogs {
	color: white;
	background-color: orangered;
}

#our-team {
	color: white;
	background-color: darkgreen;
}

.nav-links button {
	width: 5vw;
	height: 5vw;
	font-size: 2.5vw;
	margin: 0vw 1vw;
	padding: 1vw;
	border-radius: 50%;
	border: none;
	background-color: black;
	color: white;
}

#instagram-link {
	color: #fff;
	background-image: linear-gradient(135deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);
}

#linkedin-link {
	color: #fff;
	background-color: #0077b5;
}

.tagline-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tagline {
	width: 55vw;
	padding: 2vw;
}

.tagline h1 {
	font-size: 4.2vw;
	font-family: 'Jost', sans-serif;
	margin-bottom: 0.5vw;
	color: #555;
}

.tagline div {
	padding: 0vw 4vw 0vw 0vw;
}

.tagline div p {
	font-size: 2.3vw;
	font-family: 'Jura', sans-serif;
}

.tagline a button {
	margin: 3vw 0vw 0vw 0vw;
	padding: 1.5vw;
	font-size: 2.2vw;
	background-color: green;
	color: white;
	cursor: pointer;
	border-color: green;
	border-radius: 1vw;
	outline: none;
}

.illustrate {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45vw;
	padding: 1.5vw;
}

.illustrate img {
	width: 100%;
	border-radius: 50%;
}


.resource-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	background-color: #eee;
	padding: 2vw 0;
	border-radius: 10px;
}

.resource {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 35vw;
	padding: 2vw 0;
	margin: 2vw 0;
	background-color: #fff;
	border-radius: 2vw;
	box-shadow: 2px 2px 10px 2px #444;
}

.resource img {
	width: 10vw;
}

.resource-btn-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.resource-btn-container h3 {
	font-size: 3.5vw;
	font-family: 'Jost', sans-serif;
	color: #444;
}

.resource-btn {
	font-size: 2vw;
	font-weight: 600;
	padding: 1vw;
	margin: 1.5vw 0;
	cursor: pointer;
	background-color: teal;
	color: #fff;
	outline: none;
	border: none;
	border-radius: 1vw;
}

.roadmap-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	background-color: #eee;
	padding: 2vw 0;
	border-radius: 10px;
}

.roadmap {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 35vw;
	padding: 2vw 0;
	margin: 2vw 0;
	background-color: #fff;
	border-radius: 2vw;
	box-shadow: 2px 2px 10px 2px #444;
}

.roadmap img {
	width: 10vw;
}

.roadmap-btn-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.roadmap-btn-container h3 {
	font-size: 2.5vw;
	font-family: 'Jost', sans-serif;
	color: #444;
}

.roadmap-btn {
	font-size: 2vw;
	font-weight: 600;
	padding: 1vw;
	margin: 1.5vw 0;
	cursor: pointer;
	background-color: teal;
	color: #fff;
	outline: none;
	border: none;
	border-radius: 1vw;
}

.coming-soon {
	background-color: indianred;
}

.community {
	text-align: center;
}

.community div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1vw 6vw;
}

.community div img {
	width: 35vw;
	border-radius: 5vw;
}

.community div h2 {
	font-family: 'Jost', sans-serif;
	color: #555;
	font-size: 4.5vw;
}

.community-btn {
	outline: none;
	margin: 5vw 0;
	padding: 2vw;
	font-weight: bold;
	background-color: #004aad;
	border-color: #004aad;
	border-radius: 1.5vw;
	color: white;
	cursor: pointer;
	font-size: 2vw;
}

.contact-details {
	border: 1px solid #004aad;
	border-radius: 2vw;
	width: 50%;
	margin: auto;
	text-align: center;
}

.contact {
	margin: 2vw 0;
	font-size: 3vw;
	font-weight: bold;
	font-family: monospace;
	color: #444;
}

.contact h3 {
	margin-bottom: 1vw;
}

.mail h3 {
	color: tomato;
}

.phone h3 {
	color: seagreen;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #444;
	color: #fff;
	height: 5vw;
}

footer p {
	font-size: 2vw;
}

.footer-text {
	color: #aaa;
}



/* Dark Mode Styles */

#theme-button {
	cursor: pointer;
}


.dark {
	background-color: #000;
	color: #fff;
}

.tagline-dark h1 {
	color: #aaa;
}

.resource-container-dark {
	background-color: #222;
}

.resource-container-dark .resource {
	box-shadow: none;
}

.roadmap-container-dark {
	background-color: #222;
}

.roadmap-container-dark .roadmap {
	box-shadow: none;
}

.community-dark div h2 {
	color: white;
}

.contact-us-dark .contact-details .contact p {
	color: white;
}
