@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300&display=swap');


* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	width: 100vw;
	overflow-x: hidden;
	margin: auto;
}

section {
	max-width: 90%;
	margin: 4vw auto;

}

.subheading {
	width: 30vw;
	font-family: sans-serif;
	font-size: 4vw;
	text-align: center;
	color: #004aad;
	margin: 0vw auto 5vw auto;
	border: 2px solid #004aad;
	border-radius: 5px;
}

hr {
	margin: auto;
	width: 60%;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 90%;
	margin: 3vw auto;
}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-container img {
	width: 10vw;
}

.logo-container h1 {
	font-size: 4.5vw;
	margin: 0vw 1vw;
	color: #004aad;
	font-family: 'Righteous', cursive;
}

.nav-links {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-links a {
	width: 10vw;
	text-align: center;
	font-size: 2.5vw;
	margin: 0vw 1vw;
	padding: 1vw 0;
	text-decoration: none;
	border-radius: 1vw;
}

.nav-links button {
	text-align: center;
	width: 10vw;
	font-size: 2.5vw;
	margin: 0vw 1vw;
	padding: 1vw 0;
	border-radius: 1vw;
	border: none;
	background-color: black;
	color: white;
}

#instagram-link {
	color: #fff;
	background-image: linear-gradient(135deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);
}


#linkedin-link {
	color: #fff;
	background-color: #0077b5;
}

.tagline-container {
	display: flex;
	align-items: center;
	justify-content: center;\
}

.tagline {
	width: 55vw;
	padding: 2vw;
}

.tagline h1 {
	font-size: 4.2vw;
	font-family: 'Jost', sans-serif;
	margin-bottom: 0.5vw;
	color: #555;
}

.tagline div {
	padding: 0vw 4vw 0vw 0vw;
}

.tagline div p {
	font-size: 2.3vw;
	font-family: 'Jura', sans-serif;
}

.tagline a button {
	margin: 3vw 0vw 0vw 0vw;
	padding: 1.5vw;
	font-size: 2.2vw;
	background-color: green;
	color: white;
	cursor: pointer;
	border-color: green;
	border-radius: 1vw;
	outline: none;
}

.tagline a button:hover {
	background-color: green;
	color: #fff;
}

.illustrate {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45vw;
	padding: 1.5vw;
}

.illustrate img {
	width: 100%;
	border-radius: 50%;
}


.resource-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	background-color: #eee;
	padding: 2vw 0;
	border-radius: 10px;
}

.resource {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 35vw;
	padding: 2vw 0;
	margin: 2vw 0;
	background-color: #fff;
	border-radius: 2vw;
	box-shadow: 2px 2px 10px 2px #444;
}

.resource img {
	width: 10vw;
}

.resource-btn-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.resource-btn-container h3 {
	font-size: 3.5vw;
	font-family: 'Jost', sans-serif;
	color: #444;
}

.resource-btn {
	font-size: 2vw;
	font-weight: 600;
	padding: 1vw;
	margin: 1.5vw 0;
	cursor: pointer;
	background-color: #fff;
	color: #28965a;
	outline: none;
	border: none;
	border-bottom: 2px solid #28965a;
	border-radius: 1vw;
}

.resource-btn:hover {
	background-color: #28965a;
	color: #fff;
	border-radius: 10px;
	border-color: lightgreen;
}

.member {
	width: 22.25vw; 
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2vw 0vw;
}

.member img {
	width: 16vw;
	height: 16vw;
	border-radius: 50%;
}
		
.team-members {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
	
.member p {
	text-align: center;
	font-family: sans-serif;
	font-size: 2vw;
	color: #444;
	margin: 1vw 0vw;
}

.contact {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
	margin: 4vw auto;
	border: 2px solid #004aad;
	padding: 2.5vw 0;
	border-radius: 10px;
}

.contact-card {
	text-align: center;
	padding: 3vw 4vw;
	background-color: #004aad;
	color: #fff;
}

.contact-card h5 {
	font-size: 3vw;
	margin-bottom: 1vw;
	font-family: 'Laila', sans-serif;
}

.contact p {
	font-size: 2.5vw;
	margin-top: 1vw;
	font-family: monospace;
}

.card-one {
	border-right: 1px solid;
	 
}

.card-two {
	border-left: 1px solid;
	
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #444;
	color: #fff;
	height: 5vw;
}

footer p {
	font-size: 2vw;
}

.footer-text {
	color: #aaa;
}



/* Dark Mode Styles */

#theme-button {
	cursor: pointer;
}


.dark {
	background-color: #000;
	color: #fff;
}

.tagline-dark h1 {
	color: #aaa;
}

.resource-container-dark {
	background-color: #222;
}

.resource-container-dark .resource {
	box-shadow: none;
}

.team-members-dark .member img {
	border: 1px solid white;
}

.team-members-dark .member p {
	color: white;
}

.contact-dark .contact-card {
	border-color: black;
}
