* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

section {
	max-width: 90vw;
	margin: 4vw auto;

}

hr {
	margin: auto;
	width: 60vw;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 90vw;
	margin: 3vw auto;
}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 7vw;
	height: 7vw;
	border-radius: 50%;
	background-color: #004aad;
	color: white;
}

.logo p {
	font-size: 1.8vw;
	font-family: monospace;
}

.logo-container h1 {
	font-size: 4.5vw;
	margin: 0vw 2vw;
	color: #004aad;
	font-family: sans-serif;
}

.nav-links a {
	display: inline-block;
	font-size: 2.1vw;
	margin: 0vw 1.5vw;
	padding: 1vw 2vw;
	text-decoration: none;
	border: 1px solid;
	border-radius: 30px;
}

#instagram-link {
	color: #c13584;
}
#instagram-link:hover {
	background-color: #c13584;
	color: #fff;
}
#linkedin-link {
	color: 0077b5;
}
#linkedin-link:hover {
	background-color: #0077b5;
	color: #fff;
}

.tagline-container {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid black;
}

.tagline {
	width: 55vw;
	padding: 2vw;
	border: 1px solid black;
}

.tagline h1 {
	font-size: 4.2vw;
	font-family: sans-serif;
	margin-bottom: 0.5vw;
	border: 2px solid black;
}

.tagline div {
	width: 80%;
	border: 2px solid black;
	padding: 0vw 4vw 0vw 0vw;
}

.tagline div p {
	font-size: 2.2vw;
	font-family: sans-serif;
}

.tagline a button {
	margin: 3vw 0vw 0vw 0vw;
	padding: 1.5vw;
	font-size: 2vw;
	background-color: #fff;
	color: green;
	cursor: pointer;
	border-color: green;
	border-radius: 20px;
	outline: none;
}

.tagline a button:hover {
	background-color: green;
	color: #fff;
}

.illustrate {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45vw;
	padding: 1.5vw;
	border: 1px solid black;
}

.illustrate img {
	width: 36vw;
}

.team h2 {
			width: 30vw;
			font-family: sans-serif;
			font-size: 4vw;
			text-align: center;
			color: #004aad;
			margin: 0vw auto 5vw auto;
			border: 2px solid #004aad;
			border-radius: 5px;
		}

.member {
		width: 30vw; 
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 2vw 0vw;
	}

		.member img {
			width: 20vw;
			height: 20vw;
			border-radius: 50%;
		}
		.team-members {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			flex-wrap: wrap;
		}
		.member p {
			text-align: center;
			font-family: sans-serif;
			font-size: 2vw;
			color: #444;
			margin: 1vw 0vw;
		}